<p></p>
<br>
<br>
<br>
<!--<form class="searchform"> -->

<!--    <mat-card>Customer Information
    <br>
    <br>
    <mat-form-field appearance="fill">
    <mat-label>Order Date</mat-label>
    <input matInput [matDatepicker]="orderDate">
    <mat-datepicker-toggle matSuffix [for]="orderDate"></mat-datepicker-toggle>
  <mat-datepicker #orderDate></mat-datepicker>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Recieved Date</mat-label>
    <input matInput [matDatepicker]="recievedDate">
    <mat-datepicker-toggle matSuffix [for]="recievedDate"></mat-datepicker-toggle>
  <mat-datepicker #recievedDate></mat-datepicker> 
</mat-form-field>
</mat-card>
<br>-->


<br>
<mat-card> ค้นหาข้อมูลช่อดอกไม้
    <br>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Occasion</mat-label>
        <mat-select>
          <mat-option value="one">Birthday</mat-option>
          <mat-option value="two">Congratulations</mat-option>
        </mat-select>
      </mat-form-field>

    <!--<mat-form-field appearance="fill">
        <mat-label>Formula</mat-label>
        <mat-select>
          <mat-option value="one">กุหลาบขาว จีน ยูคาลิปตัส size S</mat-option>
          <mat-option value="two">กุหลาบแดง จีน ยูคาลิปตัส size M</mat-option>
        </mat-select>
      </mat-form-field>
-->
    <mat-form-field appearance="fill">
      <mat-label>Available Date</mat-label>
      <input matInput [matDatepicker]="availableDate">
      <mat-datepicker-toggle matSuffix [for]="availableDate"></mat-datepicker-toggle>
    <mat-datepicker #availableDate></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Florist</mat-label>
    <input matInput value="Florist 1">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Total Available</mat-label>
    <input matInput value="4">
  </mat-form-field>

    <br>
    <br>

   <!-- <mat-form-field appearance="fill">
      <mat-label>Quantity</mat-label>
      <input matInput value="1">
  </mat-form-field>-->

  <mat-form-field appearance="fill">
    <mat-label>Price</mat-label>
    <input matInput value="550">
</mat-form-field>
</mat-card>
<mat-card>Reciever Information
  <br>
  <mat-form-field appearance="fill">
  <mat-label>Name</mat-label>
  <input matInput value="เวส กิบบินส์">
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Phone</mat-label>
  <input matInput value="089-999-9999">
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Address</mat-label>
  <input matInput value="11/22 เขตสัมพันธวงศ์ กทม">
</mat-form-field>
  <br>
</mat-card>
<button mat-stroked-button>Search</button>
<mat-card>
 <mat-form-field appearance="fill">
    <mat-label>Delivery Fee</mat-label>
    <input matInput value="150">
  </mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Total Price</mat-label>
  <input matInput value="700">
</mat-form-field>
</mat-card>
<!--</form> -->


    <table mat-table [dataSource]="dataSource">
  <mat-form-field appearance="fill">
    <mat-label>Delivery Fee</mat-label>
    <input matInput value="150">
  </mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Total Price</mat-label>
  <input matInput value="700">
</mat-form-field>
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="Fomular">
        <th mat-header-cell *matHeaderCellDef> Fomular </th>
        <td mat-cell *matCellDef="let element"> {{element.Fomular}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="Quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.Quantity}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="Florist">
        <th mat-header-cell *matHeaderCellDef> Florist </th>
        <td mat-cell *matCellDef="let element"> {{element.Florist}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Price">
        <th mat-header-cell *matHeaderCellDef> Price</th>
        <td mat-cell *matCellDef="let element"> {{element.Price}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>