<p>searchflower works!</p>
<br>
<br>
<br>
<form class="searchform">
    <label>Customer Information</label>
    <br>
    <br>
    <label>Order Date</label>
    <input matInput value="13/01/2021">
    <label>Recieved Date</label>
    <input matInput value="15/01/2021">
    <br>
    <br>
    <br>
    <label>Reciever Information</label>
    <br>
    <br>
    <label>Name</label>
    <input matInput value="เวส กิบบินส์">
    <label>Phone</label>
    <input matInput value="089-999-9999">
    <label>Address</label>
    <input matInput value="11/22 เขตสัมพันธวงศ์ กทม">
    <br>
    <br>
    <br>
    <label>Order Information</label>
    <br>
    <br>
    <label>Occasion</label>
    <input matInput value="Birthday">
    <label>Formula</label>
    <input matInput value="กุหลาบ">
    <label>Available Date</label>
    <input matInput value="16/01/2021">
    <label>Total Available</label>
    <input matInput value="1">
    <br>
    <br>
    <label>Quantity</label>
    <input matInput value="1">
    <label>Price</label>
    <input matInput value="550 Baht">
    <label>Delivery Fee</label>
    <input matInput value="150 Baht">
    <label>Total Price</label>
    <input matInput value="600 Baht">
    <br>
    <br>
    <label>Florist</label>
    <input matInput value="Florist 1">
    <br>
    <br>
    <button type="button">Search</button>


</form>