<mat-card class="example-card-dialog">
    <mat-card-content>กุหลาบขาว เดซี่</mat-card-content>
    <p>ขนาด : S</p> 
    <p>ราคาขาย : 550 </p>
    <img mat-card-image src="assets/images/flower_1.png" alt="กุหลาบขาว + เดซี่">
    <mat-card-content>
      <p>จำนวนช่อ</p>
    </mat-card-content>
    <mat-form-field>
        <mat-label>2</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-card-actions>
        <div class="example-button-row">
            <button mat-raised-button color="primary" (click)="onNoClick()">เพิ่ม</button>
        </div>
    </mat-card-actions>
  </mat-card>