<mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="2">ข้อมูลออเดอร์ ({{numberOfOrder}}) </mat-grid-tile>
    <mat-grid-tile colspan="8"></mat-grid-tile>
    <mat-grid-tile colspan="2">
        <div class="button-row">
            <button mat-raised-button color="primary" routerLinkActive="active" routerLink="/createSalesorder">
                สร้างออเดอร์
            </button>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="6" rowHeight="100px" class="create-table">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field>
            <mat-label>ค้นหา</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="ค้นหา" #input>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="4"></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="5">
        <div class="scroll-bar">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                
                <!-- No. Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <!-- ReceiverDateTime Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>

                <!-- DeliveryDateTime Column -->
                <ng-container matColumnDef="deliveryDateTime">
                    <th mat-header-cell *matHeaderCellDef> DeliveryDateTime </th>
                    <td mat-cell *matCellDef="let element"> {{element.deliveryDateTime}} </td>
                </ng-container>

                <!-- CustomerName Column -->
                <ng-container matColumnDef="customerName">
                    <th mat-header-cell *matHeaderCellDef> CustomerName </th>
                    <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
                </ng-container>

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select" >
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-raised-button 
                        color="primary" 
                        (click)="$event.stopPropagation(); onEdit(row)" 
                        routerLinkActive="active" 
                        routerLink="/editSalesorder"
                        >Edit
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                </tr>
            </table>
        </div>
    </mat-grid-tile>
</mat-grid-list>