<mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="10"></mat-grid-tile>
    <mat-grid-tile colspan="2">
        <div class="example-button-row">
            <button mat-raised-button color="primary" routerLinkActive="active" routerLink="/createSalesorder">
                สร้างออเดอร์
            </button>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="6" rowHeight="100px">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>ข้อมูลออเดอร์ ({{numberOfOrder}})</mat-grid-tile>
</mat-grid-list>

<div style="margin-top: -4%">
    <mat-grid-list cols="6" rowHeight="100px">
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile colspan="2" style="margin-left: -0.6%">
            <div style="flex: auto;">
                <button mat-raised-button> Add column </button>
                <button mat-raised-button> Remove column </button>
                <button mat-raised-button> Shuffle </button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="6" rowHeight="100px">
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile colspan="4" rowspan="5">
            <table mat-table [dataSource]="data" class="mat-elevation-z8">
                <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
            </table>
        </mat-grid-tile>
    </mat-grid-list>
</div>